html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}




/*CSS fOR NAVIGATION*/


/* Custom navbar background */
.custom-navbar {
    background-color: #126035; /* CAF COLOR GREEN  */
}

/* Navbar brand text */
.navbar-brand {
    color: white !important;
    display: flex;
    align-items: center; /* vertical align with logo */
}

/* Nav links */
.navbar-nav .nav-link {
    color: white !important;
    transition: color 0.3s !important;
}

    /* Hover effect */
    .navbar-nav .nav-link:hover {
        color: #E0B700 !important; /* on hover */
    }

    /* Active link style */
    .navbar-nav .nav-link.active {
        font-weight: bold !important;
        color: #F8E825 !important; /* on active */
    }


/*    CSS form footer */

.custom-footer {
    background-color: #126035; /*CAF GREEN COLOR  */
}

    .custom-footer h5 {
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .custom-footer .footer-link {
        color: white;
        text-decoration: none;
        transition: color 0.3s;
    }

        .custom-footer .footer-link:hover {
            color: #E0B700; /* on hover */
        }
.bracket-container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 1200px;
}

.phase {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

    .phase h3 {
        text-align: center;
        margin-bottom: 10px;
        color: #444;
    }

.matches {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.match {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
}

    .match.Played {
        background-color: #d4edda;
    }
    /* vert si joué */
    .match.Simulated {
        background-color: #fff3cd;
    }
/* jaune si simulé */
.team {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2px 0;
}

.flag {
    width: 28px;
    height: 18px;
    margin-right: 6px;
    border: 1px solid #999;
    object-fit: cover;
}

.team-name {
    flex: 1;
    font-weight: bold;
}

.score {
    font-weight: bold;
    margin-left: 6px;
}
